
.container {
    display: flex;
    justify-content: center;
}

.bg-image {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 20;
    width: 100%;
    height: auto;
}

.maincourse-card {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.card-container-right {
    display: inline;
    float: right;
}

.mat-card-title:not(:first-child) {
    margin-top: -30px;
}

.mat-raised-button {
    background-color: dodgerblue;
    color: white;
}

.maincourse-header-image {
    background-image: url('./../../assets/images/bostonburger.jpg');
    background-size: cover;
}

.maincourse-img {
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(185, 185, 185);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.item-description {
    color: darkgrey;
}