<h1>Mikä koodi annettiin ostoskorissa</h1>
<h1 formControlName="tablenumber">{{given}}</h1>

<!--yhtä tuotetta varten-->
<div class="container">

    <h1>{{itemData.name}}</h1>

    <h2>{{itemData.price}}</h2>
    <h2> € / ateria</h2>

    <h3>{{itemData.alv}}</h3>
    <h3> %</h3>

    <h3>{{itemData.calories}}</h3>
    <h3> kcal / annos</h3>

    <h3>{{itemData.description}}</h3>

    <h3>1</h3>

    <h3>2022-02-02</h3>

    <img id="item-picture" src="{{itemData.image}}">
</div>
<button type="submit" mat-raised-button color="accent" (click)="addItemToBasket()">Ostoskoriin</button>