<p>Get id:n perusteella</p>
<!--yhtä varten-->
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Hinta</th>
                <th>Alv</th>
                <th>Calories</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <td><span>{{itemData.name}}</span></td>
            <td><span>{{itemData.price}}</span></td>
            <td><span>{{itemData.alv}}</span></td>
            <td><span>{{itemData.calories}}</span></td>
            <td><span>{{itemData.description}}</span></td>
            <td><span>{{itemData.image}}</span></td>
        </tbody>
    </table>
</div>