<mat-card class="maincourse-card">
    <mat-card-header>
        <div mat-card-avatar class="maincourse-header-image"></div>
        <mat-card-title>Boston hampurilainen</mat-card-title>
        <mat-card-subtitle>Pääruoat</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
        src="https://images.unsplash.com/photo-1600688640154-9619e002df30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80"
        alt="Photo of boston burger">
    <mat-card-content>
        <p>
            Briossisämpylän välissä 180g naudanlihapihvi, cheddarjuusto, chilimajoneesi,
            salaatti, punasipuli. Lisukkeena ranskalaiset.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>Lisää ostoskoriin</button>

    </mat-card-actions>
</mat-card>