.maincourse-card {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.maincourse-header-image {
    background-image: url('./../../assets/images/bostonburger.jpg');
    background-size: cover;
}

.card-container-right {
    display: inline;
    float: right;
}

.mat-card-title:not(:first-child) {
    margin-top: -30px;
}