<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let product of products">
        <mat-card class="maincourse-card" (click)="viewProduct(product.id)">
            <mat-card-header>
                <img mat-card-avatar src={{product.imageUrl}}>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-title class="card-container-right">{{product.price}}€</mat-card-title>
                <mat-card-subtitle>Pääruoat</mat-card-subtitle>
            </mat-card-header>
            <img class="maincourse-img" mat-card-image src={{product.imageUrl}} alt="Photo of boston burger" />
            <mat-card-content>
                <p>

                    {{product.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="addToCart(product.id); $event.stopPropagation()"><span
                        class="material-symbols-outlined">
                        add_shopping_cart
                    </span>
                </button>

            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>