
<!--
elinan tekemä

<h1>Tablenumber: {{given}}</h1>
<mat-list>
    <div mat-subheader>Your order</div>
    <mat-list-item *ngFor="let item of itemData" class="mat-item">
        <img matListAvatar src={{item.imageUrl}} alt="" />
        <span class="mat-list-item-title">{{item.item}}</span>
        <span class="mat-list-item-title">{{item.price}} €</span>

        <span class="mat-list-item-title">
            <button mat-raised-button (click)="minus(item.productId)">-</button>
            {{item.amount}} pcs
            <button mat-raised-button (click)="plus(item.productId)">+</button>
        </span>
        <span class="mat-list-item-title">
            <button mat-fab color="warn" (click)="deleteBasketProduct(item.productId)">
                <mat-icon>delete</mat-icon>
            </button>
        </span>
    </mat-list-item>
</mat-list>
<mat-divider class="mat-divider"></mat-divider>

Total: {{getTotal()}}
<br>
<button type="submit" mat-raised-button color="accent" (click)="makeOrder()">Lähetä tilaus</button>
-->


<div class="big-container">
    <!--apiin liittyvä-->
    <h1>Tablenumber</h1>
    <h1>{{given}}</h1>

    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <!--<th>Product code</th>-->
                    <th>Nimi</th>
                    <th>Hinta</th>
                    <th>Maara</th>
                    <th></th>
                    <!--<th>Basket Status</th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemData">

                    <!--id:n ei välttämätöntä olla esillä-->
                    <!--<td>{{item.productId}}</td>-->
                    <td>{{item.item}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.amount}}</td>
                    <td><button mat-fab id="nappi"
                            (click)="deleteBasketProduct(item.productId)"><mat-icon>delete</mat-icon></button></td>
                    <!--<td><span>{{item.status}}</span></td>-->
                    <!--statukseen liittyvää nappia ei nyt tarvita-->
                    <!--<td><button mat-fab (click)="putBasketProduct(item.productId)"><mat-icon>check</mat-icon></button></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit" mat-raised-button id="nappi1" (click)="makeOrder()">Lähetä tilaus</button>
    <button type="submit" mat-raised-button id="tokaNappi" (click)="orderMore()">Tilaa lisää</button>
</div>
