<h1>Tablenumber</h1>
<h1>{{given}}</h1>

<h2>Your order</h2>

<p>get/baskets/table/tablenumber</p>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Hinta</th>
                <th>Maara</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemData">
                <!--huom täst pitää poistaa toi id kentta ku sitä kantaa muokataan-->
                <td><span>{{item.item}}</span></td>
                <td><span>{{item.price}}</span></td>
                <td><span>{{item.amount}}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<button type="submit" mat-raised-button color="accent">Lähetä tilaus</button>