<div class="big-container">
    <h1>LASKUTUS</h1>

    <hr>

    <!--1-->
    <h2>Pöytä 234</h2>
    <div class="container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tablenumber</th>
                    <th>Tilauksen Status</th>
                    <th>Tilaus aika</th>
                    <th>Tilaus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemDataOne">
                    <td>{{item.id}}</td>
                    <td>{{item.tableNumber}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.orderTime | date:'d.M.y h:mm:ss a'}}</td>

                    <span *ngFor="let orders of item.orders">
                        <td id="bigg">
                            <h3>Tuote</h3>{{orders.item}}
                        </td>
                        <td id="bigg">
                            <h3>Määrä</h3>{{orders.amount}} kpl
                        </td>
                        <td id="bigg">
                            <h3>Hinta</h3> {{orders.price}} €
                        </td>
                        <hr>
                    </span>
                    <hr id="hooar">
                    <td><button mat-fab id="nappi"
                            (click)="updateOrderStatus(item.id)"><mat-icon>check</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--2-->
    <h2>Pöytä 563</h2>
    <div class="container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tablenumber</th>
                    <th>Tilauksen Status</th>
                    <th>Tilaus aika</th>
                    <th>Tilaus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemDataTwo">
                    <td>{{item.id}}</td>
                    <td>{{item.tableNumber}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.orderTime | date:'d.M.y h:mm:ss a'}}</td>

                    <span *ngFor="let orders of item.orders">
                        <td id="bigg">
                            <h3>Tuote</h3>{{orders.item}}
                        </td>
                        <td id="bigg">
                            <h3>Määrä</h3>{{orders.amount}} kpl
                        </td>
                        <td id="bigg">
                            <h3>Hinta</h3> {{orders.price}} €
                        </td>
                        <hr>
                    </span>
                    <hr id="hooar">
                    <!--huom id:tä ei ole nyt täällä-->
                    <td><button mat-fab id="nappi"
                            (click)="updateOrderStatusTableTwo(item.id)"><mat-icon>check</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--3-->
    <h2>Pöytä 987</h2>
    <div class="container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tablenumber</th>
                    <th>Tilauksen Status</th>
                    <th>Tilaus aika</th>
                    <th>Tilaus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemDataThree">
                    <td>{{item.id}}</td>
                    <td>{{item.tableNumber}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.orderTime | date:'d.M.y h:mm:ss a'}}</td>

                    <span *ngFor="let orders of item.orders">
                        <td id="bigg">
                            <h3>Tuote</h3>{{orders.item}}
                        </td>
                        <td id="bigg">
                            <h3>Määrä</h3>{{orders.amount}} kpl
                        </td>
                        <td id="bigg">
                            <h3>Hinta</h3> {{orders.price}} €
                        </td>
                        <hr>
                    </span>
                    <hr id="hooar">
                    <!--huom id:tä ei ole nyt täällä-->
                    <td><button mat-fab id="nappi"
                            (click)="updateOrderStatusTableThree(item.id)"><mat-icon>check</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--4-->
    <h2>Pöytä 796</h2>
    <div class="container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tablenumber</th>
                    <th>Tilauksen Status</th>
                    <th>Tilaus aika</th>
                    <th>Tilaus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemDataFour">
                    <td>{{item.id}}</td>
                    <td>{{item.tableNumber}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.orderTime | date:'d.M.y h:mm:ss a'}}</td>

                    <span *ngFor="let orders of item.orders">
                        <td id="bigg">
                            <h3>Tuote</h3>{{orders.item}}
                        </td>
                        <td id="bigg">
                            <h3>Määrä</h3>{{orders.amount}} kpl
                        </td>
                        <td id="bigg">
                            <h3>Hinta</h3> {{orders.price}} €
                        </td>
                        <hr>
                    </span>
                    <hr id="hooar">
                    <!--huom id:tä ei ole nyt täällä-->
                    <td><button mat-fab id="nappi"
                            (click)="updateOrderStatusTableFour(item.id)"><mat-icon>check</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>