.big-container {
    margin: 30px;
    padding: 30px;
}

#hooar {
    border: none;
    border-top: 5px dotted #FF69B4;
}

table {
    width: 70%;
}

tbody {
    background-color: #00FF7F;
}

td {
    width: 80px;
    margin: 20px;
    padding-left: 20px;
}